
body{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1,5;
    padding: 0;
    margin: 0;
    background: color #ffffff;
}

/*engloba todo*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/*encabezado/header*/
header{ 
    background-image: linear-gradient(to right top, #391a38, #612b5d, #8d3b84, #bc4cac, #ee5dd5);
    min-height: 100px;
    border-bottom:rgb(139, 0, 93) 5px solid;
}



header a{
    color:#f4f4f4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family:cursive;
}

header li{
    float:left;
    display:inline;
    padding: 0 15px 0 15px;
}


header nav{
    float: right;
    margin-top: 20px;
}
header .highlight, header .current a{
    color: black;
    font-weight: bold;
}

header a:hover{
    color: #050101;
    font-weight: bold;
}

/*showcase*/
#showcase {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background:rgb(79, 50, 69);
    padding: auto;
    

}
figure{
    position:relative;
    height:auto;
    width:auto;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.50);
    cursor: pointer;
}
figure img{
    width: auto;
    height:auto;
    transition: all 50ms ease-out;
}


figure .capa{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(91, 92, 93, 0.7);
    transition: all 50ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align:center;
}

figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}
figure:hover> img{
    transform: scale(1.3);
}
figure:hover > .capa h1{
    margin-top: 50px;
    margin-bottom: 15px;
}
figure .capa h1{
    color: #ffffff;
    font-weight:900;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 100px;
}
figure .capa p{
    color: #ffffff;
    font-size: 25px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}


.youtube {
        margin-top: 40px;
        padding: 100px 0px 100px 0px;
        background: #333;
        justify-content: center;
    }
.youtube h3{
        color: firebrick;
        text-align: center;
        margin-bottom: 20px;
    }

/*Newsletter*/

#newsletter{
    text-align:center;
    padding: 15px;
    color: rgb(7, 7, 7);
    background-image: linear-gradient(62deg, #72215d 0%, #f768a8 100%);
}
#newsletter a {
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #314652;
    color: #f1f1f1;
    border-radius: 45%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all .4s ease-in-out;
    margin-top: 10px;
    margin-left:10px;
}

#newsletter a:hover {
    transform: scale(1.2);
}

/*boxes*/

#boxes {
    margin: top 10px;
}

#boxes .box {
    text-align: center;
    width: 30%;
    margin-left: 150px;
    display:inline-block;
}

#boxes .box img{
    width: 50%;
    border-radius: 40px;
}

/*Info*/

/*#info img{
    border: 3px dashed tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
} */

#info {
    background-color: #72215d;
    color: #f4f4f4;
}

#img-center{
    display: block;
    margin-left: auto;
    margin-right:auto ;
}

#servi {
    background-color: darkgoldenrod;
    
}
#servi .caja {
        text-align: center;
}



#servi h1{
    text-align: center;
}

#servi .mapa iframe {
    display: block;
    margin-left: auto;
    margin-right:auto ;
}

/*Footer*/

footer{
    padding: 20px;
    margin-top: 20px;
    border-top:  rgb(220, 20, 143) 5px solid;
    color:rgb(10, 10, 10);
    background-image: url(../img/title.jpg);
    text-align: center;

}  
/*sobre*/

#sobre {
    background-color: #f768a8;
    margin: top 10px;
}

#sobre .box {
    text-align: center;
    width: 30%;
    margin-left: 150px;
    display:inline-block;
}

#sobre .box img{
    width: 50%;
    border-radius: 40px;
}






